<footer class="usa-footer usa-footer-medium usa-sans usa-background-dark">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid-full">
      <div class="usa-footer-logo usa-width-two-thirds">
        <a href="https://www.census.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/census.png" | prepend: site.baseurl }}"
                 alt="Census Bureau Logo"></a>
        <a href="http://www.hud.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/hud.png" | prepend: site.baseurl }}"
                 alt="HUD Logo"></a>
        <a href="https://www.commerce.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/commerce.png" | prepend: site.baseurl }}"
                 alt="Commerce Logo"></a>
        <a href="https://presidentialinnovationfellows.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/pif.png" | prepend: site.baseurl }}"
                 alt="PIF Logo"></a>
      </div>

      <div class="usa-footer-contact-links usa-width-one-third">
        <h3 class="usa-footer-contact-heading">{{ site.title }}</h3>
        <p>
          <a href="https://www.flickr.com/photos/cal_gecko/3146074967/in/photolist-5N1stR-5rHgnb-9KuJ7j-ijHnNY-5ZmCwb-sae8yu-zDpM2J-r6PPfu-x96uTz-pbtcjL-q7x9ee-qhKFz9-5zJFRt-bFcjBK-r8JWch-9e8GWV-bpFyNQ-8m1Xv1-Cned4V-fHHfKs-fMM7Fq-qUmoNQ-pmGBE4-b8rktc-5G6nS6-dTgrKV-bdyBtr-bByCre-8mgv4u-qzMqyM-refZox-fSHRAU-ojw1Ya-jFnckv-bYSEjm-CeWGuK-oZmQFw-fZ8TJZ-e5WfTc-o3j8t2-dwjNzs-BC6orm-b18yMV-coicD3-rbLNEN-jCFPkg-bbZFCV-a7MFfF-pdAxG5-bxjWVh">Header image courtesy Mark Brooks, CC-license</a>
          <br>
          <a href="{{ site.url }}">{{ site.url }}</a>
          <br>
          <a href="{{ site.repo_url }}">Visit on GitHub<i class="fa fa-github fa-fw"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="/path/to/your/assets/js/lib/uswds.min.js"></script>
